.container-card-shop-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-card-shop-1 h2 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: center;
}
