.container-section-information {
  position: relative;
  width: 100%;
}

.container-card-section-information {
  padding: 24px 0px;
  margin-left: 15px;
  width: 90%;
  border-bottom: 1px solid #b0b0b0;
}

.container-card-section-information-summary {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #4f4f4f;
  list-style: none;
}
.container-card-section-information[open] .img-arrow {
  transform: rotate(180deg);
}
.container-card-section-information-summary .img-arrow {
  position: absolute;
  right: 27px;
}

.container-card-section-information-summary-children p {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #4f4f4f;
}
