.container-banner-mobile button.slick-arrow.slick-prev {
  position: absolute;
  left: 36px;
}
.container-banner-mobile button.slick-arrow.slick-next {
  position: absolute;
  right: 36px;
}

.container-card-banner-mobile {
  width: 100%;
}

.container-card-banner-mobile img {
  width: 100%;
}
