.container-section-social {
  display: flex;
  gap: 32px;
  width: 100%;
}

.container-card-section-social {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 0px 40px 0px;
  margin-left: 15px;
  border-bottom: 1px solid #b0b0b0;
  width: 90%;
}

.container-card-section-social-p2 img {
  cursor: pointer;
}

@media (min-width: 1025px) {
  .container-section-social {
    display: none;
  }
}
