.container-vitrini-products {
  margin: 64px 3px 64px 15px;
}

.container-vitrini-products .slick-slider.slick-initialized {
  cursor: grab !important ;
}

.container-vitrini-products button.slick-arrow.slick-prev {
  position: absolute;
  z-index: 10000;
  background-image: url(/public/img/arrowLeft.png);
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 8px;
  display: block;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  transform: translate(0, -120%);
  left: 0px;
}

.container-vitrini-products .slick-prev:before {
  color: transparent;
  opacity: 0 !important ;
}
.container-vitrini-products button.slick-arrow.slick-next {
  position: absolute;
  transform: translate(0, -120%);
  right: 0px;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/public/img/arrowRigth.png);
  background-position: 18px;
  background-size: 8px;
  display: block;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 10000;
}

.container-vitrini-products .slick-next:before {
  color: transparent;
  opacity: 0;
}

.container-card-vitrini-products-1 {
  position: relative;
  margin: 6px;
}

.container-card-vitrini-products-1-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.container-vitrini-products .container-card-vitrini-products-1-title h2 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: center;
  color: #4f4f4f;
}

.container-card-vitrini-products-1-p1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-card-vitrini-products-1-discount {
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cf215b;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 24px;
  z-index: 100000;
}

.container-card-vitrini-products-1-discount p {
  color: #fff;
}

.container-card-vitrini-products-img-heart {
  position: absolute;
  top: 10px;
  right: 35px;
  z-index: 10000;
}

.container-card-vitrini-products-1-img {
  width: 100%;
}

.container-card-vitrini-products-1-img img {
  width: 90%;
}

.container-card-vitrini-products-1-description {
  font-family: DM Sans;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.container-card-vitrini-products-1-description p {
  margin: unset;
}

.container-card-vitrini-products-1-description-name {
  width: 131px;
}

.container-card-vitrini-products-1-description-name p {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.container-card-vitrini-products-1-description-price {
  display: flex;
  gap: 7px;
  width: 160px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.container-card-vitrini-products-1-descrption-price-old-price {
  text-decoration: line-through;
}

.container-option-the-payment {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  text-align: left;
}
