.hidden {
  display: none;
}

.container-menu-lateral {
  display: flex;
  align-items: center;
  position: relative;
}

.container-drawer {
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.container-drawer-p {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
}

.container-drawer- {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all;
}

.container-drawer-p1 {
  position: fixed;
  top: 64px;
  width: 100%;
  height: 100%;
}

.container-drawer-p2 {
  position: fixed;
  top: 64px;
  left: 0;
  background-color: #ffffff;
  width: 335px;
  height: 100%;
}

.container-menu-lateral-input1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-menu-hamburguer-open {
  background: url("/public/img/buttonOpenW.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  z-index: 100000;
  top: -5px;
  background-size: 24px;
}

.container-menu-hamburguer-open-w {
  background: url("/public/img/buttonOpen.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  z-index: 100000;
  top: -5px;
  background-size: 24px;
}
.container-menu-hamburguer-close {
  background: url("/public/img/buttonClose.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  z-index: 100000;
  background-size: 15px;
}

.scrolledM {
  display: flex;
  align-items: center;
}

.scrolledM .container-menu-hamburguer-open {
  filter: invert(0);
}

.container-menu-lateral .container-menu-hamburguer-open {
  filter: invert(1);
}

.container-menu-lateral .container-drawer input {
  position: relative;
}

.container-item-card-menu-lateral {
  position: relative;
  width: 100%;
}

.card-item-menu-lateral {
  position: absolute;
  width: 92%;
  left: 25px;
  top: 70px;
}

@media (min-width: 1025px) {
  .container-menu-lateral {
    display: none;
  }
  .scrolledM {
    display: none;
  }
}
