.container-card-section-verao {
  position: relative;
  width: 93%;
  font-family: DM Sans;
  top: 24px;
  left: 15px;
}

.container-card-section-verao .container-card-section-verao-img {
  width: 100%;
}

.container-card-section-verao .container-card-section-verao-description {
  position: absolute;
  left: 15px;
  width: 273px;
  text-align: left;
  color: #4f4f4f;
}

.container-card-section-verao h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
}

.container-card-section-verao p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15.62px;
}

.container-card-section-verao .container-card-section-verao-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #cf215b;
  padding: 14px 24px;
  width: 156px;
  margin-top: 32px;
}

.container-card-section-verao-button a {
  text-decoration: none;
  color: #fff;
}
