.container-section-verao {
  font-family: DM Sans;
  color: #f5f5f5;
  background-color: #f5f5f5;
  width: 100%;
}

.container-card-section-verao {
  font-family: DM Sans;
  padding: 16px;
}

.container-card-section-verao .container-card-section-verao-img {
  width: 100%;
}

.container-card-section-verao .container-card-section-verao-description {
  display: grid;
  gap: 16px;
  font-family: DM Sans;
  left: 15px;
  width: 273px;
  text-align: left;
  color: #4f4f4f;
}

.container-card-section-verao h2 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
}

.container-card-section-verao p {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
}

.container-card-section-verao .container-card-section-verao-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cf215b;
  padding: 14px 24px;
  width: 156px;
  margin-top: 16px;
}

.container-card-section-verao-button a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .container-section-verao {
    position: relative;
  }

  .container-card-section-verao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 155px;
    max-width: 1280px;
  }
  .container-card-section-verao-img {
    grid-column: 2;
  }
  .container-section-verao .container-card-section-verao-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    left: 155px;
    top: 124px;
    grid-column: 1;
  }
}
