.container-card-header-mobile {
  position: relative;
  z-index: 10000000;
}

.fixo {
  position: fixed;
  z-index: 1000000;
}

.container-header-mobile {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
}

.not-actived-mobile:hover .container-header-mobile {
  background: #ffffffc2;
}

.not-actived-mobile:hover .container-menu-hamburguer-open {
  filter: invert(0);
}

.not-actived-mobile:hover .container-img-card-header-2 {
  filter: invert(0);
}

.container-card-names-header-desktop {
  display: flex;
  gap: 24px;
}

.container-card-names-header-desktop-itens {
  text-decoration: none;
  color: #ffffff;
}

.container-card-names-header-desktop-itens-actived {
  text-decoration: none;
  color: #4f4f4f;
}

.container-header-mobile-fixo {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  background-color: #ffffffc2;
}

.container-header-mobile-fixo .container-img-card-header-2 {
  filter: invert(0);
}

.actived .container-header-mobile {
  background-color: #ffffff;
}

.actived .container-header-mobile-fixo {
  background-color: #ffffff;
}
.actived .container-img-card-header-2 {
  filter: invert(0);
}

.container-img-card-header-2 {
  filter: invert(1);
}
.container-card-header-3-mobile {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 116px;
}

@media (min-width: 1025px) {
  .container-card-header-mobile {
    display: none;
  }

  .fixo {
    display: none;
  }
}
