.container-card-frete-free {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  color: #4f4f4f;
}

.container-card-frete-free p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
}
