.container-cadastro {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  background-color: #f5f5f5;
  padding: 27px 0px 24px 0px;
}

.container-cadastro-main {
  display: grid;
  gap: 16px;
}

.container-cadastro {
  display: grid;
  gap: 16px;
}

.container-cadastro-p1 {
  display: grid;
  gap: 26px;
}

.container-card-cadastro-p1-1 {
  display: flex;
  justify-content: center;
  grid-row: 1;
  flex-wrap: wrap;
  gap: 3px;
}

.container-cadastro .container-card-cadastro-p1-1 p {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  color: #161616;
}

.container-cadastro span {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #cf215b;
}

.inputs-and-button {
  display: grid;
  gap: 16px;
}

.container-cadastro-inputs {
  display: grid;
  gap: 16px;
}

.container-cadastro input {
  height: 40px;
  width: 90%;
  margin-left: 15px;
  border: solid #b0b0b0 1px;
  background-color: #fff;
}

.container-cadastro input::placeholder {
  padding-left: 12px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.container-card-cadastro-button {
  display: flex;
  justify-content: center;
  grid-row: 4;
  width: 100%;
}

.container-card-cadastro-button button {
  width: 226px;
  height: 40px;
  top: 4866px;
  left: 75px;
  gap: 0px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: center;
  color: #fff;
  background-color: #cf215b;
  border: none;
}

@media (min-width: 1025px) {
  .container-cadastro {
    padding: 35px 0px 34px 0px;
    grid-template-rows: repeat(2, auto);
  }
  .container-card-cadastro-p1-1 {
    width: 100%;
  }
  .inputs-and-button {
    display: flex;
    justify-content: center;
  }

  .container-cadastro-inputs {
    display: flex;
    width: 600px;
  }

  .container-card-cadastro-button {
    width: auto;
  }
}
