.container-card-header-desktop {
  position: relative;
  z-index: 10000000;
  width: 100%;
}

.fixo-desktop {
  position: fixed;
  z-index: 1000000;
  width: 100%;
}

.container-header-desktop {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  max-width: 1280px;
}

.not-actived {
  display: flex;
  justify-content: center;
  width: 100%;
}

.not-actived:hover .container-header-desktop {
  background: #ffffffc2;
}

.not-actived:hover .container-menu-hamburguer-open {
  filter: invert(0);
}

.not-actived:hover .container-img-card-header-2 {
  filter: invert(0);
}

.container-header-desktop-fixo {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background-color: #ffffffc2;
  max-width: 1280px;
}

.container-card-header-desktop-input-not-actived {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  padding: 8px 12px 8px 14px;
}

.container-card-header-desktop-input-not-actived input::placeholder {
  font-family: DM Sans;
  color: #ffffff;
}
.container-card-header-desktop-input-actived {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  padding: 8px 12px 8px 14px;
}

.container-card-header-desktop-input-actived input::placeholder {
  font-family: DM Sans;
  color: #4f4f4f;
}

.container-header-desktop-fixo .container-img-card-header-2 {
  filter: invert(0);
}

.actived .container-header-desktop {
  background-color: #ffffff;
}

.actived .container-header-desktop-fixo {
  background-color: #ffffff;
}
.actived .container-img-card-header-2 {
  filter: invert(0);
}

.container-img-card-header-2 {
  filter: invert(1);
}
.container-card-header-3-desktop {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 116px;
}

.container-card-header-3-desktop img {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .fixo-desktop {
    display: none;
  }

  .container-card-header-desktop {
    display: none;
  }
}
